{% extends 'base_generic.html' %}

{% block title %}Scans History{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h2>Scans History</h2>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>URL</th>
                    <th>Started At</th>
                    <th>Status</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                {% for scan in scans %}
                <tr>
                    <td>{{ scan.id }}</td>
                    <td>{{ scan.url }}</td>
                    <td>{{ scan.started_at }}</td>
                    <td>{{ scan.status }}</td>
                    <td><a href="/scan/{{ scan.id }}" target="_blank" class="btn btn-outline-primary">See Details</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<style>
    .card {
        border: none;
        border-radius: 15px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
        background-color: #ECDFCC;
    }
    .card-header {
        background-color: #3C3D37;
        color: #ECDFCC;
        border-radius: 15px 15px 0 0;
        font-weight: 700;
    }
    table {
        margin-top: 1.5rem;
    }
    thead {
        background-color: #3C3D37;
        color: #ECDFCC;
    }
    tbody tr:nth-child(even) {
        background-color: #F9F9F9;
    }
    tbody tr:nth-child(odd) {
        background-color: #ECDFCC;
    }
    tbody td a {
        color: #697565;
        text-decoration: none;
    }
    tbody td a:hover {
        color: #565c53;
        text-decoration: underline;
    }
</style>
{% endblock %}

