{% extends "base.html" %}

{% block title %}Contact Us{% endblock %}

{% block content %}
    <h2>Contact Us</h2>
    <p>If you have sensitive information to share or need to get in touch, please use the following secure communication methods:</p>
    <ul>
        <li>Email: <a href="mailto:contact@darkwebforum.com">contact@darkweb.com</a></li>
        <!--<p>arifakhtar51@gmail.com</p>-->
        <li>Encrypted Messaging: Use the secure channel available on the hidden service.</li>
    </ul>
    <!--<form action=check-size>
      <input type=text id=full_name name=full_name/>
      <input type=submit src="/check-size">
    </form>-->
{% endblock %}
